.about-headline {
  margin-top: 5%;
  text-align: center;
  
  
  
  .headline3{
    margin-left: 0%;
    color: $fourth-color;
    padding-top: 0px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline;
  
    .color3 {
      padding: 10px;
        color: black;
    }
  
  }
  }
  
  .p-text {
    width:950px;
    text-align: left;
    margin:5% 10% 3% 8%
  }
  
  
  .about-h4 {
    margin-bottom: 2%;
  }
  
  .about-h4-ob {
    margin-bottom: 2%;
    margin-top: 6%;
  }
  
  .about-p {
    margin-bottom: 5%;
  }
  
  .about-container { 
    margin-bottom:20%; 
  
  } 
  
  
  .about-cell.a1 {
    float:left; 
    margin-top: 2%;
    margin-left: 8%;
  width: 50%;
  }
  
  
  .about-cell.a2 {
  
    .nosotros-img {
      width: 400px;
      height: 500px;
      margin-left: 2%;
      border: 5px solid $fourth-color;
    }
  }
  