$primary-color: #0089FF;
$secondary-color: #044967;
$third-color:#FFDE2E;
$fourth-color:hsl(51, 100%, 50%);
$fifth-color:#f7d306;
$sixth-color: white;
$seventh-color: #D8D7D1;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}