.donate-headline1 {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 7%;
  font-size: 40px;

  .headline-donate{
    margin-left: 0%;
    color: $fourth-color;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 0;
    font-size: 40px;
    text-decoration: underline;
  
    .color-donate {
      padding: 10px;
        color: black;
    }
  
  }
}

.donate-btn {
  width: 125px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 70px;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 20vh;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    background-color:black;
    @include transition-ease;

   a {
      color: white;
    }
  }

}

.donate-cell.a1 {
  float:left; 
  margin-top: 2%;
  margin-left: 8%;
  width: 50%;

}


.donate-cell.a2 {
  .donate-img {
    width: 400px;
    height: 500px;
    margin-left: 5%;
    border: 5px solid $fourth-color;
    margin-bottom: 10%;
  }
}

.howto-donate {
  margin-bottom: 3%;
}

.donate-p {
  margin-bottom: 2%;
}

.donate-btn {
  margin-bottom: 7%;
}

.author-bio {
  margin-bottom: 3%;
}

.about-author1 {
  margin-bottom: 3%;
}

.about-author2 {
  margin-bottom: 3%;
}