.event-detail-card {
  text-align: center;


.detail-event-name {
  margin-top: 5%;
  margin-bottom: 4%;
  font-size: 35px;
}

.detail-event-img {
  height: 50vh;
  width: 35vw;
  margin-top: 2%;
  margin-bottom: 3%;
}

.detail-event-date {
  margin-bottom: 5%;
}

}