.events-headline1 {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 7%;
  font-size: 40px;

  .headline-events{
    margin-left: 0%;
    color: $fourth-color;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 0;
    font-size: 40px;
    text-decoration: underline;
  
    .color-events {
      padding: 10px;
        color: black;
    }
  
  }
}

 .event-card img {
  width: 100%;
  height: 28vh;
}

.event-card {
  height: 45vh;
  width: 18vw;
  margin-top: 12%;
  background: black;
  color: white; 
  // margin-top: 15%;
  border: 4px solid black;
}

.event-card-name {
  border-top: 4px solid black;
  background-color: #FFD000;
  height: 15vh;
  border-bottom: 4px solid #FFD000;
}

.card-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  margin-left: 6%;
}


.name {
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: 23px;
  font-weight: bold;
  text-decoration: none;
}

