@media only screen and (min-width: 320px) {
 
 .container .box .box-row {
  margin-top:10%;
  }

  // Team Section Responsiveness

  .text-div {

    .headline2 {
      font-size: 2.8rem;
    }
  }

 

}


@media only screen and (max-width: 768px) {
  
  .home-image {
    height:65vh;
    width:100vw;
  }

  .headline {
    width: 300px;
    margin-left: 20px;
    font-size: 40px;
    letter-spacing: 1px;
  }

  .subtitle {
    width: 270px;
    font-size: 15px;
    margin-left: 20px;
  }

  .btn-details {
    width:150px;
    font-size:13px;
    margin-top: 20px;
    margin-left: 20px;
  }

 .container .box .box-row {
  width: 100%;
  display:flex;
  margin-top:0;
  flex-direction:column;
  }

  .container .box .box-cell.box1 {
    align-items: center;
    width:100%;
    margin-left:0;

    .about-box {
      padding-top: 20px;
    }

    .seemore-btn {
      margin-left: 22vw;
    }
  }
  
  .container .box .box-cell.box2 {
    width:100%;
    align-items: center;

    .see-more-box2 {
      margin-left: 22vw;
    }
  }
  
  .container .box .box-cell.box3 {
    width:100%;
    height: 230px;
    align-items: center;

    .see-more-box3 {
      margin-left: 22vw;
    }

  }

  // Team Section in Home Screen Responsiveness

  .text-div .team-text {
    width: 330px;
    margin-left: 15vw;
  }


  .container .pics .pics-row {
    width: 100%;
    display:flex;
    flex-direction:column; 
    
  } 

  .pic-cell-pic1 {
    width:100%;
    margin-left: -3%;
    margin-bottom: 15vw;

    .img1 {
      height: 250px;
      width: 250px;
      margin-top: 12%;
      margin-left: 10%;
    }
  }

  .pic-container .pics .pic-cell.pic2  {
    width:100%;
    margin-left: -25%;
    margin-bottom: 15vw;

    .img2 {
      height: 250px;
      width: 250px;
      margin-left: 10%;
    }
  }

  .pic-container .pics .pic-cell.pic3 {
    width:100%;
    margin-left: -25%;
    margin-bottom: 15vw;

    .img3 {
      height: 250px;
      width: 250px;
      margin-left: 10%;
    }
  }


  // Contact Section in Home Screen Responsiveness

  .c-container {
    margin-bottom: 30%;
  }

  .c-container .c-section .contact-cell.c1 {
    width: 300px;
    display: flex;
    flex-direction:column;

    .c-h3 {
      font-size: 1.2rem;
      margin-left: -9%;
    }
    .icons {
      font-size: 1rem;
      margin-left: -9%;
    }
}

.c-container .c-section .c-row {
  display: flex;
}

.contact-schedule {
  margin-left: 2%;

  .schedule-headline {
    margin-top: 25%;
    margin-left: -7%;
    font-size: 1.1rem;
  }

  .schedule-time {
    font-size: 0.8rem;
  }
  .weekday {
    font-size: 0.8rem;
  }
  
}


// About Us Screen Responsiveness

.p-text {
  width: 400px;
}

.about-container {
  width: 800px;
}

.about-cell.a1 {
  margin-left: 5%;
}

.about-cell.a2 {
  .nosotros-img {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
  }
}



// Services Screen Responsiveness

.service-text {
  width: 400px;
  margin-left: 10%;
}

.services-column {
  margin-bottom: 30%;
}



// Events Screen Responsiveness 

.event-card {
  height: 350px;
  width: 200px;
  margin-left: 15%;
  
}

.card-list {
  margin-bottom: 40%;
  width: 450px;
  margin-left: -1%;
}

.evento-details {
  margin-bottom: 40%;
}


.event-detail-card {

.detail-event-img {
  height: 300px;
  width: 250px;
  margin-bottom: 6%;
}
}



// Donate Screen Responsiveness

.donate-cell.a1 {
  width: 75%;
}

.donate-cell.a2 {
  .donate-img {
    margin-top: 5%;
    margin-bottom: 40%;
  }
}



// Contact Us Screen Responsiveness

.contact-form {
  margin-bottom: 40%;
  margin-left: -60%;

  .img-banner {
    visibility: hidden;
  }
}

.contact-us-text {
  width: 400px;
}

.form-container {
  width: 400px;
}




// Footer Responsiveness

.footer {
  clear: both;
  position: relative;
  height: 150px;
  margin-top: -150px;

  .footer-icons {
    width: 65%;
    text-align: center;
    padding: 30px;

    .e-mail {
      padding-top: 20px;
    }

    .facebook {
      padding-top: 20px;
    }
    .insta {
      padding-top: 20px;
    }

    .tube {
      padding-top: 20px;
    }
  }

}


}

