.testimony-headline {
  margin-top: 5%;
  text-align: center;

  .headline4 {
    margin-left: 0%;
    color: $fourth-color;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline;
  
    .color4 {
      padding: 10px;
        color: black;
    }
  }

}

.testimony {
  float: right;
  margin-top: 10%;
  margin-right: 10%;
  width: 50%;
  height:200px;
  padding: 10px;
  background-color: $fourth-color;
  border: 5px solid black;
  border-radius: 20px;

  .testimony-name {
    text-align: center;
    margin-bottom: 4%;
    font-size: 15px;

  }
  .p-testimony {
    font-size: 13px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.testimony-pic {

  .testimony-img {
    height: 200px;
    width: 200px;
    margin-top: 10%;
    margin-left: 10%;
    border: 5px solid black;
    border-radius: 165px;
  }
}

.testimony-img3 {
  height: 200px;
  width: 200px;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-left: 10%;
  border: 5px solid black;
  border-radius: 165px;
}
